<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | My Web Development Journey</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('partials/header') %>


    <div class="container">
        <h2>About Me</h2>
        <div>
            <div><img src="../public/images/image3.png" alt="my thoughts" height="300px"></div>
            <div>
                <p>
                    I started to code in 2023 after my friend bought me a web development course on Udemy.
                    I had told him about how i am learning about web development through some courses on youtube and 
                    since he was a software engineer at the time he recommended to me a course on udemy and paid for it.
                    I started learning Full-stack web development and it took me like 5 months to finish the course.
                </p>
                <p>
                    I later started to practise building web apps from the skills i learned and it was really hard since most of 
                    the time i had imposter syndrome. I later got a job in a different field and forgot about my web development 
                    journey.Although i was being paid fairly i really kept thjinking about being a web developer and after 9 months
                    i quited my job and started to refress my mind about web development so thet i could find a job as a web developer.
                </p>
                <p>
                    I created this blog while learning about Ejs and this wasb a project i had to do at the end of it. By now there is still
                    a long way to go so i am going to leave it here and i will keep updating it bas days go by. I hope my Journey inspires you 
                    to keep going even when you are attacked by the imposter syndrome just like me.
                </p>    

            
                
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
</body>
</html>