<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | My Web Development Journey</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('partials/header.ejs') %> 

    <div class="container">
      <div class="journey-section">  
       
         <div class="text">
            <h2>Getting Started 👧</h2>
            <p>I have a degree in bachelor of technology with applied statistics. After my graduation i was interested in web development 
                and i started learning python through online platforms such as youtube.After a while i met a friend who recommended to me a Full-stack
                web development course on udemy.Since i had shown my interest, he offered to pay for it because he had started the same way and 
                managed to build a great profile for himself while still in campus.I gave it a short and after 5 months of studying, i completed 
                the syllabus. I tried searching for a job but i was not confident in myself,so the imposter syndrome won.I got myself a job at a 
                fruit and vegetable company offering quality control services.After nine months i could not bear working there anymore and i decided 
                to quit.Finally, here I am refreshing my knowledge on what i had learned to help me secure a job for myself as a web developer.

            </p>

         </div>
         <div class="image">
            <img src="/images/image3.png" alt="page image">
         </div>
      </div>
        
      <div class="comment-section">
        <h3>What's your experience?</h3>
        <form class="comment-form" action="/comments" method="POST">
            <textarea id="comment" name="comment" placeholder="Leave a comment..."></textarea>
            <button type="submit">Submit</button>
        </form>
        <ul class="comments-list" id="comments-list">
            <% if (comments.length > 0) { %>
                <% comments.forEach(function(comment) { %>
                    <li><%= comment %></li>
                <% }); %>
            <% } else { %>
                <p>No comments yet. Be the first to comment!</p>
            <% } %>
        </ul>
    </div>    

    <%- include('partials/footer.ejs') %>

    <script src="../index.js"></script>
</body>
</html>